/*
 * Backgroundcolors
 */
.grey {
	background: $grey;
}

.lightGrey {
	background: $lightgrey;
}

.black {
	background: $black;
}

.white {
	background: $white;
}

.primary {
	background: $primary-color;
}

.secondary {
	background: $secondary-color;
}

/*
 * Horizontal margin
 */
.row.marginCenter {
	margin: 0 auto;
}

/*
 * Extra margin
 */
.storMarginalBotten {
	margin-bottom: 20rem;
}

.medelMarginalBotten {
	margin-bottom: 15rem;
}

.litenMarginalBotten {
	margin-bottom: 5rem;
}

.miniMarginalBotten {
	margin-bottom: 3.5rem;
}

.storMarginalTopp {
	margin-top: 20rem;
}

.medelMarginalTopp {
	margin-top: 15rem;
}

.litenMarginalTopp {
	margin-top: 5rem;
}

/*
 * Extra padding
 */
.storFyllningTopp {
	padding-top: 20rem;

	@include breakpoint(phone-and-tablet) {
		padding: 2rem 0;
	}
}

.medelFyllningTopp {
	padding-top: 15rem;

	@include breakpoint(phone-and-tablet) {
		padding: 2rem 0;
	}
}

.litenFyllningTopp {
	padding-top: 10rem;

	@include breakpoint(phone-and-tablet) {
		padding: 2rem 0;
	}
}

.storFyllningBotten {
	padding-bottom: 20rem;

	@include breakpoint(phone-and-tablet) {
		padding: 2rem 0;
	}
}

.medelFyllningBotten {
	padding-bottom: 15rem;

	@include breakpoint(phone-and-tablet) {
		padding: 2rem 0;
	}
}

.litenFyllningBotten {
	padding-bottom: 10rem;

	@include breakpoint(phone-and-tablet) {
		padding: 2rem 0;
	}
}

/*
 * Text styling
 */
.centreraText {
	text-align: center;
}

.bigText {
	text-transform: uppercase;
}

/*
 * Button styling
 */
.centreraKnapp {
	margin: 0 auto !important;
	display: block;
}

/*
 * Text colors
 */
.whiteColor {
	color: $white;
}

.blackColor {
	color: $black;
}

.primaryColor {
	color: $primary-color;
}

.secondaryColor {
	color: $secondary-color;
}
